div img {
    margin: 20px; /* marges */
    border: 5px solid #eee; /* bordure */
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2); /* ombre */
    transition: 0.5s; /* transition all : sur toutes les propriétés */
    }
    div img:hover {
    transform: rotate(-7deg); /* rotation 7 degrés */
    }
    div img.rotation360:hover {
    transform: rotate(-360deg); /* rotation 360 degrés */
    }